/* Tailwind base, components e utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import das fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@500&display=swap');

/* Estilo global do body */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* cor neutra para fundo */
}
